button.btn-detalles {
    text-align: center;
    color: white;
    border: none;
    background-color: #2D41A7;
    border-radius: 5px;
}

.btn-detalles:hover {
    opacity: 80%;
    scale: 1.1;
}

.card-title {
    font-size: 1.6rem;
    text-align: center;
    color: #2D41A7;
}

.card-sinopsis {
    text-align: justify;
    color: #2D41A7;
}

.card {
    background-color: #F4F2FF;
}