:root {
    --color-categoria: #2B1887;
    --letra-nombre: 'DM Sans', sans-serif;
    --fondo-tarea: #F4F2FF;
    --prioridad-high: #E42C5F;
    --prioridad-medium: #F9D100;
    --prioridad-low: #2D41A7;
}
