:root {
    --color-categoria: #2B1887;
    --letra-nombre: 'DM Sans', sans-serif;
    --fondo-tarea: #F4F2FF;
    --prioridad-high: #E42C5F;
    --prioridad-medium: #F9D100;
    --prioridad-low: #2D41A7;
    --fondo-lista: #D5CCFF;
}

.navbar-principal {
    background-color: var(--prioridad-high);
    color: white;
    font-size: 1.6rem;
}

ul a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    li {
        margin-inline: 1rem;
    }
}