:root {
    --color-categoria: #2B1887;
    --letra-nombre: 'DM Sans', sans-serif;
    --fondo-tarea: #F4F2FF;
    --prioridad-high: #E42C5F;
    --prioridad-medium: #F9D100;
    --prioridad-low: #2D41A7;
    --fondo-lista: #D5CCFF;
}

.tareaCard-container {
    background-color: var(--fondo-tarea);
}


.tareaCard-container .nombre-tarea {
    color: var(--color-categoria);
    font-family: var(--letra-nombre);
    font-weight: bold;
    font-size: 1.4rem;
}

button {
    background-color: var(--fondo-tarea);
}

button .bi-check-circle-fill {
    color: green;
    font-size: 2rem;
}

button .bi-x-circle-fill {
    color: var(--color-categoria);
    font-size: 2rem;
}

button:hover {
    scale: 1.05;
}

@media screen and (min-width: 375px) {
    
    button .bi-check-circle-fill {
        color: green;
        font-size: 2rem
    }
    
    button .bi-x-circle-fill {
        color: var(--color-categoria);
        font-size: 2rem
    }
}